@model User

<form asp-action="Delete" id="formUserDelete">
    <input type="hidden" asp-for="Id" />
    <div>
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Email)
            </dd>
        </dl>
    </div>
</form>