@model User


<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" id="formUserEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*     <label asp-for="Id" class="control-label"></label>*@
                <input asp-for="Id" class="form-control" hidden />
                @* <span asp-validation-for="Id" class="text-danger"></span>*@
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input type="email" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <select class="form-control select2" style="width: 100%;" asp-for="Role">
                    <option>Admin</option>
                    <option>User</option>
                </select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">

                    <input asp-for="State" type="checkbox" class="custom-control-input" id="customSwitch3" data-bootstrap-switch>
                    <br />
                    <label asp-for="State" class="custom-control-label" for="customSwitch3"></label>

                </div>
            </div>
        </form>
    </div>
</div>
