@model IEnumerable<CategoryProperty>


<div class="row">
    <div class="col-md-12">
        <form asp-action="CreateDetail" id="formDetailCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @foreach (var item in Model)
            {
                <div class="form-group">
                    <label asp-for="@item.Property" class="control-label">@item.Property</label>
                    <input id="PropertyValue" name="PropertyValue" type="text" asp-for="@item.Property" class="form-control" />
                    <span asp-validation-for="@item.Property" class="text-danger"></span>
                </div>
            }

        </form>
    </div>
</div>


