@model EditProductViewModel


<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" id="formProductEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input hidden asp-for="Id" />
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select class="form-control select2" style="width: 100%;" asp-for="CategoryId" asp-items="ViewBag.Category">
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrandId" class="control-label"></label>
                <select class="form-control select2" style="width: 100%;" asp-for="BrandId" asp-items="ViewBag.Brand">
                </select>
                <span asp-validation-for="BrandId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input required type="text" asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input required type="number" asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DiscountedPrice" class="control-label"></label>
                <span class="badge badge-warning">indirim</span>
                <input type="number" asp-for="DiscountedPrice" class="form-control" />
                <span asp-validation-for="DiscountedPrice" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" id="summernote">
                </textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
          

            <div class="form-group">
                <label asp-for="StockQuantity" class="control-label"></label>
                <input type="number" asp-for="StockQuantity" class="form-control" />
                <span asp-validation-for="StockQuantity" class="text-danger"></span>
            </div>

            <div class="custom-control custom-switch custom-switch-off-secondary custom-switch-on-success">
                <input asp-for="IsNewProduct" type="checkbox" class="custom-control-input" id="IsNewProductSwitch" data-bootstrap-switch>
                <label class="custom-control-label" for="IsNewProductSwitch"> Yeni ürün mü? </label>
            </div>
            <div class="custom-control custom-switch custom-switch-off-secondary custom-switch-on-success">
                <input asp-for="IsShowcaseProduct" type="checkbox" class="custom-control-input" id="IsShowcaseProductSwitch" data-bootstrap-switch>
                <label class="custom-control-label" for="IsShowcaseProductSwitch"> Vitrin ürünü mü? </label>
            </div>
            <div class="custom-control custom-switch custom-switch-off-secondary custom-switch-on-success">
                <input asp-for="State" type="checkbox" class="custom-control-input" id="State" data-bootstrap-switch>
                <label class="custom-control-label" for="State"> Aktif mi ? </label>
            </div>
        </form>
    </div>
</div>

<script>
    $(function () {
        // Summernote
        $('#summernote').summernote()

      
    })
</script>