@model RegisterViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Üye Ol</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="~/plugins/toastr/toastr.min.css">
</head>
<body class="hold-transition register-page">
    <div class="register-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="~/index2.html" class="h1"><b>E-Ticaret</b>APP</a>
            </div>
            <div class="card-body">
                <h4 class="login-box-msg"><b>Yeni Üye</b></h4>
               
                <p class="login-box-msg">Lütfen Bilgilerinizi Doldurunuz.</p>

                <form asp-action="Register" method="post">
   @*                 <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Ad Soyad">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>*@
                    <div class="input-group mb-3">
                        <input asp-for="Email" type="email" class="form-control" placeholder="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>

                    </div>
                    <span asp-validation-for="Email" class="text-danger"></span>

                    <div class="input-group mb-3">
                        <input asp-for="Password" type="password" class="form-control" placeholder="Şifre">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>

                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>

                    <div class="input-group mb-3">
                        <input data-bootstrap-switch asp-for="RePassword" type="password" class="form-control" placeholder="Tekrar Şifre">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="RePassword" class="text-danger"></span>

                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input asp-for="Terms" type="checkbox" id="agreeTerms" name="terms">
                                <label for="agreeTerms">
                                    <a href="#">Şartları</a> Kabul Ediyorum.
                                </label>
                            </div>
                            <span asp-validation-for="Terms" class="text-danger"></span>

                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Üye Ol</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
                <div style="color:red; height:50px" asp-validation-summary="ModelOnly" class="alert alert-light"></div>

              @*  <div class="social-auth-links text-center">
                    <a href="#" class="btn btn-block btn-primary">
                        <i class="fab fa-facebook mr-2"></i>
                        Sign up using Facebook
                    </a>
                    <a href="#" class="btn btn-block btn-danger">
                        <i class="fab fa-google-plus mr-2"></i>
                        Sign up using Google+
                    </a>
                </div>*@
                 <br />
                <a asp-action="Login" asp-controller="Member"><p>Zaten üyeliğim var</p></a>
            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
    <!-- /.register-box -->
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>
    <script src="~/plugins/toastr/toastr.min.js"></script>
    <partial name="_Notifications" />
</body>
</html>
